*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

&::-webkit-scrollbar
{
    display: none;
}

body
{
    background-color: rgb(224, 194, 158);
    min-height: 70dvh;
    font-family: 'Arial', sans-serif;
}

header
{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
   
}

header p , h1
{
    animation: colorwheel 8s cubic-bezier(0.42,0,1,0.58) infinite forwards;
    transition: color 5s;
}

section
{
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}



section h2
{
    margin-bottom: 10px;
}

section article
{    
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 15rem;
    position: relative;
    
}

section article::after
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0.6px);
}

section article:hover
{
    transform: scale(1.05);
}
section article img
{
    width: auto;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

h3
{
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}
p
{
    padding-bottom: 4px;
}

.sub
{
    
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}


@keyframes colorwheel 
{
    0%
    {
        color: bisque;
    }
    25%
    {
        color: rgb(190, 157, 116);
    }
    75%
    {
        color: rgb(235, 184, 117);
    }
    100%
    {
        color: rgb(196, 175, 149);
    }
}
